
.DS_Store
.DS_Store
.ipynb_checkpoints/proyecto_earthquake-checkpoint.ipynb
data/.DS_Store
data/csv_building_damage_assessment.csv
data/csv_building_ownership_and_use.csv
data/csv_building_structure.csv
data/csv_household_demographics.csv
data/csv_household_earthquake_impact.csv
data/csv_household_resources.csv
data/csv_individual_demographics.csv
data/.DS_Store
data/earthquake.csv
data/mapping.csv
data/ward_vdcmun_district_name_mapping.csv
data/target_solution_proposed.csv
data/target_damage_grade.csv
data/.DS_Store
.DS_Store
data/.DS_Store
.virtual_documents/proyecto_earthquake.ipynb
data/.DS_Store
eda_DL.ipynb
eda.ipynb
data/total_dataset.csv
data/features.csv
data/features_categorical_only
data/features_numeric_only.csv
